ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #5dd8d8;
  color: white;
}

li a:hover:not(.active) {
  background-color: #dbbaa0;
  color: white;
}
html{
background-color: #a0a4aa;
}
div.a {
  text-align: center;
}
.resizebrian{
  height: 600px;
  width: 675px;
}
.resizebart{
  height: 600px;
  width: 550px;
  margin-left: 34%
}
.resizekate{
  height: 500px;
  width: 500px;
}
.resizekart{
  height: 500px;
  width: 450px;
  margin-left: 48%
}
h2{
 line-height: 1.6;
  font-family:lobster;
}
p{
   font-family:verdana;
    line-height: 1.6;
}
h1{
  font-family:lobster;
}
